%Gilroy-400 {
  font-family: 'Gilroy-Regular';
  font-weight: 400;
}
%Gilroy-500 {
  font-family: 'Gilroy-Medium';
  font-weight: 500;
}
%Gilroy-700 {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
}
%ACaslonPro-700 {
  font-family: 'ACaslonPro-Bold';
  font-weight: 700;
}
%btn{
    border: 1px solid #60DAD0;
    border-radius: 10px;
    padding: 19px 29px;
    cursor: pointer;
    background-color: #60DAD0;
    @extend %Gilroy-700;
    font-size: 18px;
    color: #ffffff;
     display: flex;
     max-width: 242px;
     width: 100%;
}
%content-title{
  @extend %ACaslonPro-700;
  font-size: 30px;
  margin-bottom: 10px;
}
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}x(#{$numbers});
}